<main role="main">
	<% if ( is_tag() ) { %>	
		<p>Tag: <%= page.tag %></p>
	<% } %>

	<% page.posts.each(function(post) { %>
	<article class="p-article p-article--archive">
		<h2 class="p-article__title">
			<a href="<%- config.root %><%- post.path %>"><%- post.title %></a>
		</h2>
		<%- partial('post/meta', {post: post}) %>
	</article>
	<% }); %>
	<nav class="c-pagination" role="pagination">
		<ul class="c-pagination-list">
			<% if (page.prev) { %>
			<li class="c-pagination-list__item c-pagination-list__item--prev"><a href="<%- url_for(page.prev_link) %>">← Newer Posts</a></li>
			<% } %>
			<% if (page.next) { %>
			<li class="c-pagination-list__item c-pagination-list__item--next"><a href="<%- url_for(page.next_link) %>">Older Posts →</a></li><% } %>
		</ul>
		<p class="u-align-center">Page <%- page.current %> of <%- page.total %></p>
	</nav>
</main>
